.glowEffect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 9999;
    transition: background 0.1s ease-out;
}

@media (max-width: 830px) {
    .glowEffect {
        display: none;
    }
}